# Team

Contacts:
- TODO: List all primary contacts and roles for this service.

Responsibilities:
- TODO: Outline team responsibilities and service ownership.

Escalation:
- TODO: Document incident/bug escalation and support paths.

Collaboration:
- TODO: Note key cross-team collaboration points, rituals, or dependencies.
